:root {
	--body-color: #EDEBF7;
	--second-color: #7a6bc5;
	--box-shadow: 10px;
}

body {
	font-family: 'Roboto';
}

.container-top {
	background: var(--second-color);
	color: white;
	text-align: center;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: var(--box-shadow);	
}

.container3 {
	margin-top: 10px;
}

.button1 {
	padding: 10px;
	background: var(--body-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-shadow);
	width: 200px;
}

.button2 {
	padding: 10px;
	background: var(--body-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-shadow);
	width: 200px;
	margin-left: 20px;

}

.button3 {
	padding: 10px;
	background: var(--body-color) !important;
	
	text-align: center;
	border-radius: var(--box-shadow);
	width: 200px;
	margin-left: 20px;
		
}

.button-contact {
  text-decoration: none;
  color: var(--second-color);
}


.myFoto {
	margin-top: 20px;
	margin-left: 10px;
	width: 500px;
	border-radius: var(--box-shadow);
    height: 360px;

}

h1 {
	color: var(--second-color);
	
	text-align: center;
	margin-top: 20px;
}

.i-am {
	text-align: center;
	opacity: 0.6;
}

.container-1 {
display: block;
margin-top: 10px;
height: 400px;
width: 100%;
background: var(--body-color);
border-radius: var(--box-shadow);

}

#underl {
   font-weight: bold;
}

.hello {
	padding: 30px 30px;
}

.image-pro {
		width: 500px;
		border-radius: 10px;
		margin-left: 40px;
	}

.description-full {
	margin-left: 40px;
	margin-right: 20px;
}

.launch {
	border: 1px solid var(--second-color);
	background: var(--body-color);
	padding: 10px;
	text-align: center;
	border-radius: var(--box-shadow);
	width: 200px;
	color: var(--second-color);
	text-decoration: none;
}
.launch:hover {
	color: white;
	text-decoration: none;
}

.container-cosial {
	margin-top: 80px;
	color: var(--second-color);	
	font-size: 30px;
	margin-bottom: 85px;
}

.cosial {
	font-size: 24px;
	color: var(--second-color);
}

@media (max-width: 576px) {

	.button3,
	.button1,
	.button2 {
		width: 100px;
		margin-top: 20px;
	}
	
	.myFoto {
		display: block;
		width: 80%;
		height: 100%;		
		margin-top: -30px;
		margin-left: 45px;
	}
	.container-1 {
		height: 100%;
	}
	
	.head-project {
		text-align: center;
	}

	.description {
		padding: 20px;
	}

	.launch-button {
	text-align: center;
}

}

.container-about {

	padding: 40px;

}

.contact-text {

text-align: center;

}

.home {

	margin-left: 20px;
	color: white;
	text-decoration: none;
}


